@addTagHelper *, MovieHunter


<section class="newsletter">
    <h2>
        Subscribe to Get <br />Newsletter
    </h2>

    <form>
        <input type="email" placeholder="Enter Email" required"" />
        <input type="submit" value="Subscribe" class="btn" />
    </form>
</section>