<div class="row">
    <div class="col-md-6">
        <div class="video-container">
            <iframe width="300" height="200" src="https://www.youtube.com/embed/AHmCH7iB_IM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <div class="video-container">
            <iframe width="300" height="200" src="https://www.youtube.com/embed/D3bDpHMIqtM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="video-container">
            <iframe width="300" height="200" src="https://www.youtube.com/embed/WdZ-BWWQcWQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <div class="video-container">
            <iframe width="300" height="200" src="https://www.youtube.com/embed/DuWEEKeJLMI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>